# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Konf_M20_Kogler_Moser_Schnedlitz\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
